*::before,
*::after {
    box-sizing: border-box;
}

img {
    vertical-align: middle;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    display: flex;
    flex-direction: column;
    height: 100%;
    transition: all 1s ease;
}

.visually__hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0)
}

.container {
    max-width: 1320px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
}

main {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h2 {
    font-size: 32px;
}

form {
    display: flex;
    justify-content: center;
}


.dark__mode {
    background-color: black;
    color: white;
}

.btn {
    width: 108px;
    height: 45px;
    background-image: url('./../imgs/Screenshot_1.png');
    background-repeat: no-repeat;
    border-radius: 75px;
    background-size: contain;
    transition: all 1s ease;
}

.dark__mode .btn {
    background-image: url('./../imgs/Screenshot_3.png');
}